<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meme-Generator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="../stylesheets/jquery.loader.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <script>
        let slideIndex = 1;
        
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
                // console.log(n);
            let x = document.getElementsByClassName("parent");
            if (n > x.length) {slideIndex = 1} 
            if (n < 1) {slideIndex = x.length}
            for (let i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            // console.log(slideIndex, x.length);
            x[slideIndex-1].style.display = "block";  
        }
</script>
</head>

<body>
 <main role="main" class="home">
   
    <div id="homePage">
        <h1 id='memeHeader'>Check out all of the top and most recent memes created<button type='button' id='memeFilter'><span id='top' class='selectedFilter'>Top</span>/<span id='recent'>Recent</span></button></h1>
        
        <div class="memeBanner">
            
        </div>
          
        <button id="create">Create your own meme</button>
    </div>

    <div id="photoSelectionPage" class="hidden">
        <h1 id='photoHeader'>Choose from this feed of photos<button id='photoFilter' type='button'><span id='topPhoto' class='selectedFilter'>Top</span>/<span id='recentPhoto'>Recent</span></button></h1>
        <div class="photoBanner">
        
        </div>
        <!-- <form id="photoUpload">
        <label for="pic">Upload your own photo by inserting a photo URL</label><br>
        <input type="text" name="pic" id="newPhoto">
        <button class="submit" type="submit">Submit</button>
        </form> -->
    </div>

    <div id="memeCreationPage" class="hidden">
        
       
    </div>


    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="../javascripts/html2canvas.js"></script>
    <script src="../javascripts/jquery.loader.js"></script>
    <script src="../javascripts/main.js"></script>
 </main>
</body>

</html>