<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meme-Generator</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script>
        let slideIndex = 1;
        
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
                console.log(n);
            let x = document.getElementsByClassName("parent");
            if (n > x.length) {slideIndex = 1} 
            if (n < 1) {slideIndex = x.length}
            for (let i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            console.log(slideIndex, x.length);
            x[slideIndex-1].style.display = "block";  
        }
</script>
</head>

<body>
 <main role="main" class="home">
   
    <div id="view1">
        <h1>Check out all of the top and most recent memes created</h1><button type='button' id='memeFilter'>Top/Recent</button>
        <div class="memeBanner">
            
        </div>
          
        <button id="create">Create your own meme</button>
    </div>

    <div id="view2" class="hidden">
        <h1>Choose from this feed of photos</h1><button id='photoFilter' type='button'>Top/Recent</button>
        <div class="photoBanner">
        
        </div>
        <form id="photoUpload">
        <label for="pic">Upload your own photo by inserting a photo URL</label><br>
        <input type="text" name="pic" id="newPhoto">
        <button type="submit">Submit</button>
        </form>
    </div>

    <div id="view3" class="hidden">
       
    </div>


    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/html2canvas.js"></script>
 </main>
</body>

</html>