body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#view1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#view2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
}

#create {
  cursor: pointer;
}

.mySlides {
  width: 100%;
  height: 400px;
}

.photoBanner {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.parent {
  position: relative;
  width: 100%;
}

#memeFilter {
  cursor: pointer;
}

#photoFilter {
  cursor: pointer;
}

.navButtons {
  top: 50%;
  cursor: pointer;
  position: absolute;
  background-color: black;
  color: white;
  border-color: black;
  padding: 8px 16px;
  transform: translate(0%, -50%);
  border-radius: 5px;
  opacity: 0.3;
}

#displayLeft {
  left: 0px;
}

#displayRight {
  right: 0px;
}

.fa-star {
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size:30px;
}

.clickableIcon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: bold;
  font-size: 30px;
}

.selectPhotoButton {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 5px;
}

/* view3 */

.memeContainer {
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 600px;
  }

#view3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#textBox {
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
}