body {
  background-image: url(https://c2.staticflickr.com/2/1330/876118224_f6bb6ff2eb_o.jpg);
  background: cover;
}

#homePage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#photoSelectionPage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  width: max-content;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: solid white 7px;
}

#create {
  background-color: transparent;
  cursor: pointer;
  border: solid 5px white;
  font-size: larger;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 20px;
}

.mySlides {
  width: 100%;
  height: 400px;
}

.photoBanner {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.memeBanner {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.parent {
  position: relative;
  width: 100%;
}

#memeFilter {
  cursor: pointer;
  margin-left: 10px;
  background-color: lightgray;
  border: solid;
  padding: 3px 10px;
  font-size: medium;
}

#photoFilter {
  cursor: pointer;
  margin-left: 10px;
  background-color: lightgray;
  border: solid;
  padding: 3px 10px;
  font-size: medium;
}

.navButtons {
  top: 50%;
  cursor: pointer;
  position: absolute;
  background-color: black;
  color: white;
  border-color: black;
  padding: 8px 16px;
  transform: translate(0%, -50%);
  border-radius: 5px;
  opacity: 0.3;
}

#displayLeft {
  left: 0px;
}

#displayRight {
  right: 0px;
}

.fa-star {
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  font-size:30px;
}

.clickableIcon {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 5px;
  background-color: black;
}

.clickableMemeIcon {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 5px;
  background-color: black;
}

#photoUpload {
  margin-top: 20px;
  font-weight: bold;
}

.submit {
  cursor: pointer;
  margin-left: 10px;
  background-color: lightgray;
  border: solid;
  padding: 3px;
  font-size: medium;
}

#newPhoto {
  margin-top: 20px;
  background-color: lightgray
}

.photo {
  position: relative;
}

.selectPhotoButton {
  cursor: pointer;
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 5px;
  font-size: x-large;
  padding: 7px;
  margin-top: 20px;
  width: fit-content;
}

/* memeCreationPage */

#memeCreationPage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.imgChoice {
  width: 70%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.memeContainer {
  background-size: 100% 100%;
  width: 80%;
  margin-left: auto;
  height: 450px;
  margin-right: auto;
}

#textBox {
  color: white;
  font-size: 60px;
  font-weight: 900;
  padding-top: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.submitMemeButton {
  background-color: transparent;
  cursor: pointer;
  border: solid 5px white;
  font-size: larger;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 20px;
}

#memeSubmit {
  margin-top: 20px;
  font-weight: bold;
}

label {
  font-size: x-large;
}


@media only screen and (max-width: 480px) {

  .memeContainer {
    background-size: 100% 100%;
    width: 90%;
    margin-left: auto;
    height: 400px;
    margin-right: auto;
}

  .imgChoice {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .memeBanner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.photoBanner {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

}
